listen=YES
listen_ipv6=NO
listen_address=0.0.0.0
listen_port={{ vsftpd_listen_port }}
max_clients=500
max_per_ip=5
port_enable=NO
pasv_min_port={{ vsftpd_pasv_min_port }}
pasv_max_port={{ vsftpd_pasv_max_port }}
accept_timeout=30
connect_timeout=30
data_connection_timeout=120
idle_session_timeout=300
anonymous_enable=NO
guest_enable=NO
local_enable=YES
write_enable=YES
local_umask=0007
deny_file=.*
hide_file=.*
{% if ssl_result['failed'] is false %}
force_local_logins_ssl=no
force_local_data_ssl=no
ssl_enable=yes
rsa_cert_file={{ vsftpd_rsa_cert_file }}
{% endif %}
allow_writeable_chroot=YES
chroot_local_user=YES
local_root={{ ftp_root }}
user_config_dir=/etc/vsftpd.conf.d
text_userdb_names=YES
use_localtime=YES
cmds_denied=MDTM,MFF,MFCT,MFMT
secure_chroot_dir=/var/run/vsftpd/empty
delay_failed_login=5
max_login_fails=3
syslog_enable=YES
xferlog_enable=YES
xferlog_file=/var/log/xferlog
xferlog_std_format=YES
log_ftp_protocol=NO
vsftpd_log_file=/var/log/vsftpd.log
dual_log_enable=YES
